.value {
  margin-top: 128px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;

    & svg {
      width: 174px;
      height: auto;
    }
  }

  &__block {
    background-color: $lightBlack;
    padding: 48px 58px 1px 49px;
    border-radius: 16px;

    @media screen and (max-width: 992px) {
      margin: 0 auto;
      width: 550px;
      padding: 8px 58px 1px 49px;
    }

    @media screen and (max-width: 576px) {
      width: 300px;
      padding: 8px 28px 1px 28px;
    }

    &__title {
      display: flex;
      align-items: center;
      position: relative;
      column-gap: 40px;

      @media screen and (max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        // row-gap: 40px;
        &__text:nth-child(1):after,
        &__text:nth-child(2):after {
          top: 100% !important;
          left: 50%;
          margin-top: 10px;
          transform: translate(-100%) !important;
        }
      }

      &__text {
        color: rgba(255, 255, 255, 0.8);
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        margin-top: 40px;
        position: relative;
        @media screen and (max-width: 576px) {
          font-size: 28px;
        }
      }

      &__text:nth-child(1):after,
      &__text:nth-child(2):after {
        content: '';
        width: 15px;
        height: 15px;
        top: 50%;
        margin-left: 10px;
        transform: translateY(-50%);
        border-radius: 50%;
        position: absolute;
        background-color: $lightGreen;
      }
    }

    &__line {
      width: 95%;
      background-color: $lightGreen;
      height: 6px;
      margin-top: 32px;
      margin-bottom: 64px;
    }

    &__body {
      & span {
        font-weight: 900;
      }
      &__text {
        margin-bottom: 64px;
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
