// Colors HEX
$white: #ffffff;
$black: #000000;
$lightGreen: #39B54A;
$lightGreenHover: #7cd08a;
$lightGreenActive: #1f4827;
$lightBlack:#0B2027;
$lightGray:#C4C4C4;
$lightBlue:#22AED1;
$Gray: rgba(0, 0, 0, 0.5);

// Fonts
$common-fonts: 'Inter', sans-serif;
$main-font-family: 'Lato', sans-serif;
