.govern {
  padding: 87px 0 62px;

  @media screen and (max-width: 768px) {
    padding: 80px 0 95px;
  }

  &__wrapper {
    max-width: 940px;
    margin: auto;
    width: 100%;
    @media screen and (max-width: 992px) {
      padding: 0 20px;
    }
    @media screen and (max-width: 768px) {
      padding: 0 10px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 174px;
      height: auto;
    }

    & h2 {
      padding-top: 4px;
    }

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
    }
  }

  &__btn {
    margin-top: 46px;
    margin-bottom: 78px;

    & a {
      padding: 16px 0px 18px;
      display: block;
      margin: 0 auto;
      font-size: 24px;
      line-height: 29px;
      max-width: 258px;
    }
  }

  &__desc {
    margin-top: 42px;
    font-size: 24px;
    line-height: 29px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    column-gap: 22px;
    margin-bottom: 70px;
    &__logo {
      min-width: 125px;
      min-height: 125px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: $lightBlack;
    }

    & h5 {
      font-size: 36px;
      font-weight: 700;
      line-height: 29px;
      margin-bottom: 20px;
      @media screen and (max-width: 576px) {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 32px;
        text-align: center;
      }
    }

    & p {
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
    }

    @media screen and (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
